/* General */

:root {
    --primary: #0b132bff;
    --secondary: #1c2541ff;
    --accent: #3a506bff;
    --text: #5bc0beff;
    --button: #ffffffff;

}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;   
}

.content {
    flex: 1 0 auto;
}

section {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navigation */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: var(--secondary);
}

nav span {
    font-size: 70px;
    font-weight: 500;
    color: var(--text);
    padding: 10px;
}

.menu {
    background-color: var(--accent);
    width: 55px;
    height: 41.8px;
    border: var(--button);
    border-radius: 70px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    margin-left: 5%;
}

.menu:focus {
    outline: 3px solid var(--accent);
}

.login {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.login:focus {
    outline: 3px solid var(--text);
}

.login:hover {
    background-color: var(--accent);
}

.login span {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--text);
}