/* General */

:root {
    --primary: #0b132bff;
    --secondary: #1c2541ff;
    --accent: #3a506bff;
    --text: #5bc0beff;
    --button: #ffffffff;

}

html, body {
    height: 100%;
}

body {
    background-color: var(--primary);
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;   
}

.content {
    flex: 1 0 auto;
}

section {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2 {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Navigation */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: var(--secondary);
}

nav span {
    font-size: 70px;
    font-weight: 500;
    color: var(--text);
    padding: 10px;
}

.menu {
    background-color: var(--accent);
    width: 55px;
    height: 41.8px;
    border: var(--button);
    border-radius: 70px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    margin-left: 5%;
}

.menu:focus {
    outline: 3px solid var(--accent);
}

.login {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.login:focus {
    outline: 3px solid var(--text);
}

.login:hover {
    background-color: var(--accent);
}

.login span {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: var(--text);
}

/* About us */

.about {
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--secondary);
    margin: 10px;
}
.about span {
    color: var(--text);
    font-size: 48px;
    margin: 10px;
}

.about li {
    color: var(--text);
    font-size: 24px;
    margin: 10px;
}

/* Services */

.services {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    margin: 10px;
}

.services span {
    font-size: 42px;
    padding: 10px;
    color: var(--text);
}

.servicing {
    display: flex;
    flex-flow: row wrap;
}

.servicing span {
    font-size: 24px;
    color: var(--text);
}

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px 5px 5px 5px;
}

.service span {
    font-weight: bold;
    color: var(--text);
}

.service-img {
    width: 400px;
    height: 400px;
}

/* Used */

.used {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    margin: 10px;
}

.used span {
    font-size: 42px;
    padding: 10px;
    color: var(--text);
}

.items {
    display: flex;
    flex-flow: row wrap;
}

.items span {
    font-size: 24px;
    color: var(--text);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: var(--accent);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px 10px 10px 10px;
}

.item span {
    font-weight: bold;
    color: var(--text);
}

.item-img {
    width: 400px;
    height: 400px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.media-icons {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.links {
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0;
}

.links li {
    margin: 10px;
}

footer span {
    font-size: 32px;
    font-weight: 500;
    color: var(--text)
}

footer a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: var(--text);
}

footer a:focus {
    outline: 3px solid #000000;
}

/* End of index */
